.shareIcon {
	display: none;
	cursor: pointer;
	margin-left: 0;
	color: #CECECE;
	vertical-align: 0px;
}

#floatingPanel .header .shareIcon,
.sidePanel .header .shareIcon {
	color: white;
}

.sidePanel .shareIcon {
	color: #777;
}

.shareIcon.active {
	display: inline-block;
}

.shareIcon.disabled {
	cursor: default;
	opacity: 0.5 !important;
}

.shareBtns > .shareIcon ~ .shareIcon {
	margin-left: 4px;
}

#floatingPanel .header .shareIcon:focus,
#floatingPanel .header .shareIcon:hover,
.sidePanel .header .shareIcon:focus,
.sidePanel .header .shareIcon:hover {
	color: #CECECE;
}

.sidePanel .shareIcon:focus,
.sidePanel .shareIcon:hover {
	color: black;
}

.shareIcon:focus,
.shareIcon:hover {
	color: #ACACAC;
}

.share_bitly {
	vertical-align: 1px;
	margin-left: 2px;
}
.shareIcon[class^="icon-"]:before, .shareIcon[class*=" icon-"]:before {
	font-size: 120%;
	margin: 0 !important;
}

.social .popover-title {
	display: none;
}

#bitlyInput {
	font-family: sans-serif !important;
}

#bitlyInput::-ms-clear {
	display: none;
}