<div class="legendContainer mapControls">
	<div class="titleBtn">
		<button type="Button" class="btn btn-link collapseBtn">
			<div class="glyphicon glyphicon-chevron-down"><span class="sr-only">Show</span></div>
			<div class="glyphicon glyphicon-chevron-up"><span class="sr-only">Hide</span></div>
		</button>
		<%= title %>
	</div>
	
	<div class="content">
		<div class="legendDijitContainer"></div>
		<% if ( isInBuilder ) { %>
			<div class="settingsGear glyphicon glyphicon-wrench"></div>
			<div class="settingsOverlay">
				<div class="settings-title"><%= settings %></div>
				<div class="settings-content">
					<!-- Open by default -->
					<div class="checkbox">
						<label>
							<input type="checkbox" class="expandStartup" />
							<%= openDefault %>
						</label>
					</div>
				</div>
			</div>
		<% } %>
	</div>
</div>