<div class="section swiper-slide <%= optHtmlClass %>">
	<div class="section-inner">
		<<%= titleTag %> class="title"><%= title %></<%= titleTag %>>
		<div class="centering">
			<button class="link visible-on-focus focus-mainstage"><%= lblMainstageBtn %></button>
		</div>
		<div class="content"><%= content %></div>
		<div class="social">
			<span class="shareIcon share_facebook icon-facebook-squared" data-url="<%= shareURL %>"> Facebook</span>
			<span class="shareIcon share_twitter icon-twitter" data-url="<%= shareURL %>"> Twitter</span>
			<button type="button" class="shareIcon share_bitly icon-link btn-naked" data-url="<%= shareURL %>" data-toggle="modal" data-target="#shareDialog"> <%= lblShare %></button>
		</div>
	</div>
</div>
